build: false

environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

    CONAN_REFERENCE: "OpenVDB/4.0.2"
    CONAN_USERNAME: "zogi"
    CONAN_LOGIN_USERNAME: "zogi"
    CONAN_CHANNEL: "testing"
    VS150COMNTOOLS: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\Common7\\Tools\\"
    CONAN_UPLOAD: "https://api.bintray.com/conan/zogi/conan-packages"

    matrix:
    # OpenVDB 4 needs c++11 features MSVC 12 doesn't provide.
    #   - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    #     CONAN_VISUAL_VERSIONS: 12
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
          CONAN_VISUAL_VERSIONS: 14
    # Neither Boost/1.60.0@lasote/stable nor TBB/4.4.4@memsharded/testing
    # builds with MSVC 15, so disabling it for now.
    #   - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    #     CONAN_VISUAL_VERSIONS: 15


install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools
  - conan user # It creates the conan data directory
  - conan remote add mybintray %CONAN_UPLOAD%

test_script:
  - python build.py
